<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; java_class.java &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>java</string>
	<key>name</key>
	<string>Class</string>
	<key>uuid</key>
	<string>6A0D5531-6E44-4B35-852B-380EDAB317C7</string>
</dict>
</plist>
