<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; interface.java &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>java</string>
	<key>name</key>
	<string>Interface</string>
	<key>uuid</key>
	<string>FC8EAEF2-4F74-4CB7-8729-2B1D450B75D9</string>
</dict>
</plist>
